#!/usr/bin/env bash

# Redis
# ---------------
alias flush-redis="redis-cli FLUSHALL"

# Oh my zsh config helpers
# ---------------
alias cddotfiles="cd ~/.dotfiles"
alias reloadcli="source $HOME/.zshrc"

# Openers
# ---------------
alias zshrc="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"
alias dotfiles="code ~/.dotfiles"
alias hostfile="sudo vim /etc/hosts"

# PHP
# ---------------
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias pw="phpunit-watcher watch"
alias p="phpunit $@"
alias pf="phpunit --filter $@"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias crs="composer require --no-scripts"
alias ci="composer install"
alias cda="composer dump-autoload -o"

# Laravel
# ---------------
alias mfs='php artisan migrate:fresh --seed'
alias a="artisan"
alias v="vapor"
alias deploy='envoy run deploy'
alias deploy-code='envoy run deploy-code'
alias ngrok="$HOME/.composer/global/laravel/valet/vendor/laravel/valet/bin/ngrok"

# SSH
# ---------------
alias sshconfig="code ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.pub | pbcopy'
alias publickey="cat ~/.ssh/id_rsa.pub"

# Tool replacements & helpers
# ---------------
alias man=tldr
alias cat='colorize_via_pygmentize'
alias ping='prettyping --nolegend'
alias preview="fzf --preview 'bat --color \"always\" {}'"
# add support for ctrl+o to open selected file in VS Code
alias grep="grep --color=auto"
alias top="sudo htop"
alias f="forge"
alias jigsaw="./vendor/bin/jigsaw $@"
alias d="./d $@"
alias o="open ."
alias jest="./node_modules/.bin/jest"
# List all files colorized in long format
alias l="ls -laF"
alias du=ncdu
alias pbcopy="clip.exe"

# Docker
alias docker=docker.exe
alias docker-compose=docker-compose.exe
alias dc="docker-compose"

# Git
# ---------------
alias git="hub"
alias wip="commit 'wip'"
alias cleanbranches="git branch --merged | egrep -v \"(^\*|master|develop|dev)\" | xargs git branch -d"
alias dracaris='git reset --hard;git clean -df'

# Editors
# ---------------

# Networking
# ---------------
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
# Ports
alias ports="lsof -nP -i4TCP"

# Other
# ---------------
# Enable aliases to be sudo’ed
alias sudo='sudo '
